<div>
  <a href="/trips">trip link</a>
</div>
<div ng-repeat="trip in trip_collection">
  {{trip.id}}
</div>
<button class='newPost' ng-click='togglePostForm()'><i class='fa fa-plus'></i>Create Trip</button>
<div class='form' ng-show='showme'>
 <form novalidate class='new=post' name='postData' ng-submit='addPost()'>
   <label for='title'>Title</label>
   <input name='title' type='text' ng-model='title' required ng-minlength=5>
   <br>
   <label for='author'>Author</label>
   <input name='author' type='text' ng-model='author' required ng-minlength=2>
   <br>
   <label for='image'>Image URL</label>
   <input name='image' type='url' ng-model='image' required ng-minlength=5>
   <br>
   <label for='description'>Description</label>
   <textarea name='description' ng-model='description' required ng-maxlength=255></textarea>
   <br>
   <button class='newSubmit' ng-disabled='postData.$invalid' ng-click='showme=false'>Submit Post</button>
 </form>
</div>
